In [3]:
    import pandas as pd
    import numpy as np
    import statistics as st
    
    df= pd.read_csv("D:/study/DSBDA/DSBDA Pratham/ipynb code DS/Descriptive statistic/loan_data.csv")
    df

      Age  ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
0    35.0             5849                0.0         NaN             360.0
1     NaN             4583             1508.0       128.0             360.0
2    25.0             3000                0.0        66.0             360.0
3    26.0             2583             2358.0       120.0             360.0
4    30.0             6000                0.0       141.0             360.0
..    ...              ...                ...         ...               ...
609  25.0             2900                0.0        71.0             360.0
610  50.0             4106                0.0        40.0             180.0
611  38.0             8072              240.0       253.0             360.0
612  45.0             7583                0.0       187.0             360.0
613  26.0             4583                0.0       133.0             360.0

[614 rows x 5 columns]

In [4]:
df.median()

Age                    30.0
ApplicantIncome      3812.5
CoapplicantIncome    1188.5
LoanAmount            128.0
Loan_Amount_Term      360.0
dtype: float64

In [5]:
df["Age"].median()

30.0

In [6]:
df.iloc[: , 0].median()

30.0

In [7]:
df.loc[: , "Age"].median()

30.0

In [8]:
df.median(axis = 1)

0      197.5
1      934.0
2       66.0
3      360.0
4      141.0
       ...
609     71.0
610     50.0
611    253.0
612    187.0
613    133.0
Length: 614, dtype: float64

In [9]:
df[0:1].median(axis = 1)

0    197.5
dtype: float64

In [10]:
df.iloc[0:1 , :].median(axis = 1)

0    197.5
dtype: float64

In [11]:
df.iloc[[0 ,2 , 4 ] , :].median(axis = 1)

0    197.5
2     66.0
4    141.0
dtype: float64

In [12]:
df.var()

Age                  5.978658e+01
ApplicantIncome      3.732039e+07
CoapplicantIncome    8.562930e+06
LoanAmount           7.325190e+03
Loan_Amount_Term     4.240668e+03
dtype: float64

In [13]:
df.std()

Age                     7.732178
ApplicantIncome      6109.041673
CoapplicantIncome    2926.248369
LoanAmount             85.587325
Loan_Amount_Term       65.120410
dtype: float64

In [14]:
df["Age"].std()

7.732178229043353

In [15]:
df[["Age" , "ApplicantIncome"]].std()

Age                   7.732178
ApplicantIncome    6109.041673
dtype: float64

In [16]:
df.iloc[: ,0:4].std()

Age                     7.732178
ApplicantIncome      6109.041673
CoapplicantIncome    2926.248369
LoanAmount             85.587325
dtype: float64

In [17]:
df.iloc[: , [0 ,2 , 4]].std()

Age                     7.732178
CoapplicantIncome    2926.248369
Loan_Amount_Term       65.120410
dtype: float64